In [1]:
# Import dependencies
import pandas as pd
import numpy as np
# from sqlalchemy import create_engine

In [2]:
# Read in data
file_path = './beer_reviews.csv'
beer_df = pd.read_csv(file_path)
beer_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [ ]:
# Filter dataframe into desired columns
# final_table_columns = ['review_overall', 'review_aroma', 'review_appearance', 'review_palate', 'review_taste']
# clean_beer_df = beer_df.drop(columns=[col for col in beer_df if col not in final_table_columns], inplace=True)

In [3]:
# Clean data
clean_beer_df = beer_df[['review_overall', 'review_aroma', 'review_appearance', 'review_palate', 'review_taste']]

In [4]:
clean_beer_df.dropna()

,review_overall,review_aroma,review_appearance,review_palate,review_taste
0,1.5,2.0,2.5,1.5,1.5
1,3.0,2.5,3.0,3.0,3.0
2,3.0,2.5,3.0,3.0,3.0
3,3.0,3.0,3.5,2.5,3.0
4,4.0,4.5,4.0,4.0,4.5
...,...,...,...,...,...
1586609,5.0,4.0,3.5,4.0,4.0
1586610,4.0,5.0,2.5,2.0,4.0
1586611,4.5,3.5,3.0,3.5,4.0
1586612,4.0,4.5,4.5,4.5,4.5
1586613,5.0,4.5,4.5,4.5,4.5

In [5]:
clean_beer_df['review_overall'].value_counts()

4.0    582764
4.5    324385
3.5    301817
3.0    165644
5.0     91320
2.5     58523
2.0     38225
1.5     12975
1.0     10954
0.0         7
Name: review_overall, dtype: int64

In [6]:
# Export to database
clean_beer_df.to_csv('./Resources/clean_beer.csv', index=False)