In [1]:
# Import dependencies
import pandas as pd
import numpy as np
# from sqlalchemy import create_engine

In [2]:
# Read in data
file_path = './beer_reviews.csv'
beer_df = pd.read_csv(file_path)
beer_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [3]:
# Find most frequent reviewers
reviewer_count = beer_df.review_profilename.value_counts()
print(reviewer_count)

northyorksammy    5817
BuckeyeNation     4661
mikesgroove       4617
Thorpe429         3518
womencantsail     3497
                  ...
Cannile              1
blindho              1
Kessel               1
gwobst               1
OzMan                1
Name: review_profilename, Length: 33387, dtype: int64

In [4]:
# Create new df that contains all relevant review information by most frequent reviewer
clean_beer_df = beer_df.loc[beer_df['review_profilename'] == 'northyorksammy']
clean_beer_df = clean_beer_df[['review_overall', 'review_aroma', 'review_appearance', 'review_palate', 'review_taste', 'beer_style', 'beer_abv']]
clean_beer_df.head()

,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_style,beer_abv
46,4.0,4.0,3.5,4.0,4.0,Rauchbier,7.4
374,3.5,3.5,3.5,3.5,3.5,American IPA,6.1
1499,1.0,3.0,3.0,1.5,1.5,Euro Pale Lager,5.0
1789,2.5,3.0,4.0,4.0,3.5,Witbier,4.8
1836,3.5,4.0,4.0,3.5,3.5,American Porter,6.0

In [5]:
# Drop any empty rows
clean_beer_df.dropna()

,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_style,beer_abv
46,4.0,4.0,3.5,4.0,4.0,Rauchbier,7.4
374,3.5,3.5,3.5,3.5,3.5,American IPA,6.1
1499,1.0,3.0,3.0,1.5,1.5,Euro Pale Lager,5.0
1789,2.5,3.0,4.0,4.0,3.5,Witbier,4.8
1836,3.5,4.0,4.0,3.5,3.5,American Porter,6.0
...,...,...,...,...,...,...,...
1585999,4.0,4.0,3.5,4.0,4.0,American Pale Ale (APA),5.2
1586287,3.0,2.5,4.0,3.5,3.5,American Amber / Red Ale,5.0
1586464,4.5,4.0,3.5,3.5,4.0,Tripel,9.0
1586511,4.5,4.0,3.5,4.0,4.5,American Stout,6.5
1586535,3.5,4.0,3.5,3.5,4.0,American Stout,6.0

In [6]:
clean_beer_df['review_overall'].value_counts()

4.0    2487
3.5    1515
3.0     640
4.5     550
2.5     385
2.0     159
1.5      42
5.0      21
1.0      18
Name: review_overall, dtype: int64

In [7]:
clean_beer_df.isnull().any()

review_overall       False
review_aroma         False
review_appearance    False
review_palate        False
review_taste         False
beer_style           False
beer_abv              True
dtype: bool

In [8]:
clean_beer_df = clean_beer_df.dropna(axis=0, how="any", thresh=None, subset=None, inplace=False)

In [9]:
clean_beer_df[clean_beer_df['beer_abv'].isnull() == True]

Empty DataFrame
Columns: [review_overall, review_aroma, review_appearance, review_palate, review_taste, beer_style, beer_abv]
Index: []

In [10]:
# Export to database
clean_beer_df.to_csv('./Resources/clean_beer.csv', index=False)